* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 0.03fr 0.5fr 1fr;
}

.header {
	width: 100%;
	grid-column: 1 /11;
}

.welcome-menu {
	width: 100%;
	height: 100%;
	grid-column: 1 /11;
}

.main {
	width: 100%;
	height: 100%;
	grid-row: 3 / 5;
	margin-top: 20px;
	grid-column: 1 /11;
}

.footer {
	height: 100%;
	width: 100%;
	grid-column: 1 /11;
}
