.header-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0c0c0e;
}

.header-title {
	color: #fff;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px;
	margin-left: 20px;
}

.navbar-items {
	display: flex;
	align-items: center;
	gap: 30px;
}

.navbar-item {
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
}

.logo-img {
	width: 28px;
	height: 28px;
	flex-shrink: 0;
}

.navbar-items:last-child {
	margin-right: 20px;
}
